@page
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head><title>Test</title></head>
<body>
    <h1 style='color:green;'>✅ Test funciona en puerto 7021</h1>
    <p>Fecha/Hora: @DateTime.Now</p>
</body>
</html>
