USE [master]
GO
/****** Object:  Database [DB_Areas]    Script Date: 6/8/2026 8:39:52 PM ******/
CREATE DATABASE [DB_Areas]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DB_Areas', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\DB_Areas.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DB_Areas_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\DB_Areas_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DB_Areas].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DB_Areas]
GO
/****** Object:  Table [dbo].[AreaTrabajo]    Script Date: 6/8/2026 8:39:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AreaTrabajo](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](200) NOT NULL,
	[InstitucionID] [int] NOT NULL,
	[InstitucionNombre] [varchar](200) NOT NULL,
	[Activo] [bit] NOT NULL,
	[FechaCreacion] [datetime] NOT NULL,
	[FechaModificacion] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AreaTrabajo] ADD  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[AreaTrabajo] ADD  DEFAULT (getdate()) FOR [FechaCreacion]
GO
USE [master]
GO
