USE [master]
GO
/****** Object:  Database [DB_Carreras]    Script Date: 6/8/2026 8:42:46 PM ******/
CREATE DATABASE [DB_Carreras]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DB_Carreras', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\DB_Carreras.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DB_Carreras_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\DB_Carreras_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DB_Carreras].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DB_Carreras]
GO
/****** Object:  Table [dbo].[Carrera]    Script Date: 6/8/2026 8:42:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Carrera](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](200) NOT NULL,
	[Director] [varchar](200) NOT NULL,
	[Email] [varchar](255) NOT NULL,
	[Telefono] [varchar](20) NOT NULL,
	[InstitucionID] [int] NOT NULL,
	[InstitucionNombre] [varchar](200) NOT NULL,
	[Activo] [bit] NOT NULL,
	[FechaCreacion] [datetime] NOT NULL,
	[FechaModificacion] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Carrera] ADD  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[Carrera] ADD  DEFAULT (getdate()) FOR [FechaCreacion]
GO
USE [master]
GO
